.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__title {
    font-family: 'eina', sans-serif;
}

.login__container {
    margin-bottom: 12px;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}