.list-filter {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'eina', 'sans-serif';
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 4px;
    background-color: #fffffe;
    box-shadow: 0 0.175em 0.5em rgba(2,8,20,.1), 0 0.085em 0.175em rgba(2,8,20,.08);
    width: 345px;
}

.list-filter__select {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    -webkit-appearance: none;
    border-radius: 3px;
    color: #484848;
    cursor: pointer;
    font-family: 'eina', 'sans-serif';
    font-weight: 550;
    font-size: 12px;
    padding: 8px 12px;
    margin-top: 8px;
    text-align: center;
    transition: all .4s;
}

.DateRangePickerInput__withBorder {
    border-radius: 3px;
}

.DateRangePickerInput_clearDates__hide {
    visibility: visible !important;
}

.DateInput_input {
    font-family: 'eina', 'sans-serif';
    font-size: 12px;
    font-weight: 550;
    border: none;
    padding: 8px 12px;
}

.DateRangePickerInput_arrow {
    visibility: hidden;
}

@media only screen and (min-width: 600px) { 
    .list-filter {
        width: 550px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .list-filter__select {
        margin-top: 0;
        height: 42px;
    }
}