.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 24px 14px;
    -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.header__logo {
    font-size: 32px;
    color: #3da9fc;
    margin-right: 4px;
}

.header__title {
    color: rgb(73, 80, 87);
    font-size: 16px;
    font-weight: 550;
    font-family: 'eina_bold';
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

.header__title:hover {
    color: #3da9fc;
}
