.note-form__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note-form__label {
    display: block;
    font-family: 'eina_semibold', sans-serif;
    font-weight: 550;
    color: #094067;
    margin: 24px 0 12px 0;
}

.note-form__textarea {
    resize: none;
    display: block;
    font-family: 'system-ui', sans-serif;
    border: 0;
    border-radius: 2px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 8px;
    width: 320px;
}

.note-form__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
}

.note-form__space {
    width: 8px;
}
